<% include partials/header %>
<div class="ui container">

<h1>Fortnite comparison app</h1>

<h2><%= playerInfo['epicUserHandle'] %></h2>
<h2>
    <%= playerInfo['platformNameLong'] %>
</h2>
<% var playerOne = {} %>


    <% playerStat.forEach((stat)=> { %>
        
        <% if(stat['key'] == 'Wins') { %>
            <% playerOne['wins'] = stat['value'] %>

                <% } %>
                    <%  if(stat['key'] == 'Kills') { %>
                        <%   playerOne['kills'] = stat['value'] %>
                        
                            <% } if (stat["key"] == "Matches Played") { %>
                                <%  playerOne["matches"] = stat["value"] %>
                                   
                                <% } %>
                                <% if (stat["key"] == "K/d") { %>
                                <%  playerOne["kd"] = stat["value"] %>
                                <% } %>
                                        <% }); %>
                                            <% console.log(playerOne) %>
                                            <div class="ui container">
                                    <div class="ui grey inverted raised segment">
                                        <h3>LIFETIME STATS:</h3>
                                            <div class="ui four cards">
                                                <div class="green card">
                                                    
                                                        
                                                        <div class="content">
                                                            <div class="left floated ui image">
                                                            <i class="big history icon"></i>
                                                            </div>
                                                            <div class="right aligned header">
                                                                <%=playerOne.matches%>
                                                            </div>
                                                            
                                                            <div class="right aligned sub header">Matches</div>
                                                        </div>
                                                    
                                                  
                                                </div>
                                            
                                            
                                            
                                    <div class="green card">
                                    
                                    
                                        <div class="content">
                                            <div class="left floated ui image">
                                                <i class="big trophy icon"></i>
                                            </div>
                                            <div class="right aligned header">
                                                <%=playerOne.wins%>
                                            </div>
                                    
                                            <div class="right aligned sub header">Wins</div>
                                        </div>
                                    
                                    
                                    </div>
                                            
                                    <div class="green card">
                                    
                                    
                                        <div class="content">
                                            <div class="left floated ui image">
                                                <i class="big crosshairs icon"></i>
                                            </div>
                                            <div class="right aligned header stat">
                                                <%=playerOne.kills%>
                                            </div>
                                    
                                            <div class="right aligned sub header statTitle">Kills</div>
                                        </div>
                                    
                                    
                                    </div>
                                            </div>
                                        
                                            </div>

                                           
                        </div>
                        </div>
<a class="ui button" href="/">home</a>
<% include partials/footer %>