<% include partials/header %>
    <div class="ui container">
        <h1>FORTNITE STATS</h1>
        <div>
            <h2>
                <%= info.username %>
            </h2>
            <h2>
                <%= info.platform %>
            </h2>
        </div>

    <div class="ui container">
            <div class="ui grey inverted raised segment">
                <h3>LIFETIME STATS:</h3>
                <div class="ui four cards">
                    <div class="raised card">


                        <div class="content">
                            <div class="left floated ui image">
                                <i class="big history icon"></i>
                            </div>
                            <div class="right aligned header">
                                <%=lifetimeStats.matches%>
                            </div>

                            <div class="right aligned sub header">Matches</div>
                        </div>


                    </div>



                    <div class="raised card">


                        <div class="content">
                            <div class="left floated ui image">
                                <i class="big trophy icon"></i>
                            </div>
                            <div class="right aligned header">
                                <%=lifetimeStats.wins%>
                            </div>

                            <div class="right aligned sub header">Wins</div>
                        </div>


                    </div>

                    <div class="raised card">


                        <div class="content">
                            <div class="left floated ui image">
                                <i class="big crosshairs icon"></i>
                            </div>
                            <div class="right aligned header stat">
                                <%=lifetimeStats.kills%>
                            </div>

                            <div class="right aligned sub header statTitle">Kills</div>
                        </div>


                    </div>
                </div>

            </div>


        </div>
        <a class="ui button" href="/">HOME</a>
    </div>

    <% include partials/footer %>